.header {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.title {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xxx-large;
}

@media max-width
.navButtons {
    position: absolute;
    right: 10px
}

.navButtons button {
    background-color: #4bb8ff;
    color: white;
}

button:active {
    transform: scale(0.95);
    background-color: darkgray;
}