.header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-container {
    display: flex;
    flex-direction: row;
}

.logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.title {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xxx-large;
}

.navButtons {
    flex-direction: row;
    justify-content: center;
}

@media (min-width: 500px) {
    .navButtons {
        position: absolute !important;
        right: 10px !important;
    }
}

.navButtons button {
    background-color: #4bb8ff;
    color: white;
}

button:active {
    transform: scale(0.95);
    background-color: darkgray;
}